@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", system-ui;
  background-color: #F4F6FA;
}

.progress-dark-mode{
  background: #3B4D66 !important;
  border: 4px solid #3B4D66 !important;
  border-radius: 999px;
  height: 16px;
}
.progress-dark-mode::-webkit-progress-bar{
  background-color: #3B4D66 !important; /* Color del fondo */
  border-radius: 999px; /* Bordes redondeados */
}

#progress{
  background: white;
  border: 4px solid white;
  border-radius: 999px;
  height: 16px;
}

#progress::-webkit-progress-bar {
  background-color: white; /* Color del fondo */
  border-radius: 999px; /* Bordes redondeados */
}

progress::-webkit-progress-value {
  background-color: #A729F5; /* Color del relleno */
  border-radius: 999px; /* Bordes redondeados */
}

.option:checked + #option-question-letter{
  background-color: #A729F5 ;
  color: white;
}

label:hover{
  cursor: pointer;
}

label:hover #option-question-letter{
  background-color: #F6E7FF;
  color: #A729F5;
}

label:has(.option:checked){
  outline: 2px solid #A729F5;
}

.label-error{
  outline: 2px solid #EE5454 !important;
}

.span-error{
  background-color: #EE5454 !important;
  color: white !important;
}

.label-success{
  outline: 2px solid #26D782 !important;
}

.span-success{
  background-color: #26D782 !important ;
  color: white !important;
}

canvas{
  background-color: transparent;
}

.button-hover-dark:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #A729F5 !important;
}

@media (min-width: 1536px) and (max-height: 850px) {
  html{
    font-size: 11px;
  }
}